:root{
    --primary-header-color:  #FFFFFF;
    --second-header-color: #212121;
    --accent-color: #757575;
    --primary-link-color: #2196F3;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
}
ul{
    margin: 0px;
    padding-left: 0px;
}
button{
    cursor: pointer;
}
img{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background: #F5F5F5;
}
.container{
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.list{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.link{
    text-decoration: none;
   
}

/*--------------------HEADER--------------------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--second-header-color);
    margin-right: 50px;
    padding: 24px 0px;
}
.accent-text {
    color: var(--primary-link-color);
}
.header-text-studio{
    color: var(--primary-link-color);
}
.header-list{
    display: flex;
    margin-right: 50px;
    
}
.header-link {
    margin-right: 50px;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

}
.header-link:last-child{
    margin: right 0;
}
.header-nav{
    display: flex;
    align-items: center;
    
}
.header-text {
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-header-color);
 
}
.header-contacts{
    margin-left: 50px;
}
.header-list-contacts{
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;

}
.header-text-contacts{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.header-link :hover,
.header-link :focus,
.header-contacts :hover,
.header-contacts :focus{
    color:  var(--primary-link-color);
}
/*--------------------PORTFOLIO--------------------*/
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--primary-link-color);
    color:  #F5F4FA;
    cursor: pointer;
}
.portfolio-btn-link{
    list-style-type: none;
    font-family: inherit;
    margin-bottom: 34px;
    display: inline-block;
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-btn-active{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--primary-header-color);
    border-radius: 4px;
    border-color:#F5F4FA;
    background: var(--primary-link-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: #F5F4FA;
    color: var(--second-header-color)
    display: flex;
    text-align: center;
    margin-bottom: 34px;
    border-radius: 4px;
    border-color:#F5F4FA;
}


.visually-hidden{
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.portfolio-project-list {
    color: var(--second-header-color);
}

.portfolio-list{
    list-style-type: none;
}
.portfolio-title {
    font-style: normal;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--second-header-color);
    margin-top: 20px;
}
.portfolio-pre-title {
    font-style: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--accent-color);
}
.portfolio-project-list{
    display: flex;
    flex-wrap: wrap;
}
/*--------------------MAIN--------------------*/
.main-cap{
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.main-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-header-color);
    margin-bottom: 30px;
    margin-bottom: 30px;
    
}
.main-btn {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--primary-header-color);
    background: var(--primary-link-color);
    display: block;
    border-radius: 4px;
    margin:  0px auto;
    min-width: 200px;
    height: 50px;
}

.main-btn:hover,
.main-btn:focus {
    cursor: pointer;
}

/*--------------------FEATURE--------------------*/
.feature-list-items{
    list-style-type: none;
    
    flex-wrap:nowrap;
}
.feature{
    display: flex;
    margin-top: 0px;
    background: #F5F5F5;
}
.feature-list{
    display: flex;
}
.feature-title {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-header-color);
    margin-top:  0px;
    margin-bottom: 10px;
    padding-top: 94px;
    }
.feature-title-text {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--accent-color);
    margin-top: 0px;
    margin-bottom: 94px;
   
    }
/*--------------------BOX--------------------*/
.box-list-items{
    list-style-type: none; 
    display: block;
    flex-direction: row;
}
.box{
    margin-top: 0px;
    background: #F5F5F5;
}
.box-list{
    display: flex;
}

.box-list-items:not(:last-child){
    margin-right: 30px;

}
.box-title {
    font-style: normal;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--second-header-color);
    margin-bottom: 50px;
    padding: 94px 0px;
}

/*--------------------TEAM--------------------*/
.team{
    background: #F5F4FA;
}
.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--second-header-color);
    margin-bottom: 50px;
    padding-top: 94px;
}
.team-list-img{
    list-style-type: none; 
}
.team-list{
    display: flex;
    margin-right: 30px;
    text-align: center;
}
.team-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--second-header-color);
    margin-top: 30px;
    margin-bottom: 10px;
}
.team-work {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--accent-color);
    margin-bottom: 30px;
    padding-bottom: 94px;
}

/*--------------------FOOTER--------------------*/

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-header-color);
    
    
}
.footer-accent-text {
    color: var(--primary-link-color);
}
.footer-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-text-adress{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-header-color);
    
}
.footer-contacts-list{
    margin-top: 28px;
}
.footer-contacts-mail{
    margin-top: 12px;
    margin-bottom: 12px;
}
.footer-contacts :hover,
.footer-contacts :focus {
    color: var(--primary-link-color);
}

